/**
 * Neubrutalism — Flavor: Cyan
 * Overrides only --main (ekmas core variable).
 */

:root,
html.t-light {
	--main: oklch(78.3% 0.135 219.2deg); /* Cyan */
	--border-radius: 5px;
	--box-shadow-x: 4px;
	--box-shadow-y: 4px;
}
