/**
 * shadcn/ui — Flavor: Green (Lime)
 * Overrides only --main (ekmas core variable).
 */

:root,
html.t-light {
	--main: oklch(82.7% 0.135 130.07deg); /* Lime */
	--border-radius: 5px;
	--box-shadow-x: 4px;
	--box-shadow-y: 4px;
}
