/**
 * shadcn/ui — Flavor: Pink
 * Overrides only --main (ekmas core variable).
 * Other NB semantic colors kept from default.
 */

:root,
html.t-light {
	--main: oklch(74.9% 0.162 0.71deg); /* Pink */
	--border-radius: 5px;
	--box-shadow-x: 4px;
	--box-shadow-y: 4px;
}
