/**
 * shadcn/ui — Flavor: Violet
 * Overrides only --main (ekmas core variable).
 */

:root,
html.t-light {
	--main: oklch(73.2% 0.126 297.4deg); /* Violet */
	--border-radius: 5px;
	--box-shadow-x: 4px;
	--box-shadow-y: 4px;
}
